<!-- Start Single Tab Content -->
<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
  <!-- <div class="review__attribute">
    <div class="review__ratings__type d-flex">
      <div class="review-ratings">
        <div class="rating-summary d-flex">
          <span>Quality</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>

        <div class="rating-summary d-flex">
          <span>Price</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
        <div class="rating-summary d-flex">
          <span>value</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
      </div>
      <div class="review-content">
        <p>Hastech</p>
        <p>Review by Hastech</p>
        <p>Posted on 11/6/2018</p>
      </div>
    </div>
  </div> -->
  
  <div id="accordion" class="wn_accordion" role="tablist">
    {% for review in product.review_set.all %}
    <div class="card">
      <div class="acc-header" role="tab" id="headingOne">
        <h5>
          <a data-toggle="collapse" href="#collapse-{{ review.id }}" role="button" aria-expanded="false"
            aria-controls="collapseOne" class="collapsed">
            {{ review.title }}
            {% if request.user.username == review.user.username %}
            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#review-{{ review.id }}-modal">
              수정하기
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" onclick="review_delete('{{ product.id }}', '{{ review.id }}');">
              삭제하기
            </button>
            {% endif %}
            <input type="hidden" id="review-{{ review.id }}" value="{{ review.rating }}">
            <span class="pull-right">{{ review.user.username }}</span>
          </a>
        </h5>
      </div>
      <div id="collapse-{{ review.id }}" class="collapse" role="tabpanel" aria-labelledby="headingOne"
        data-parent="#accordion">
        <div class="starrr" id="review-{{ review.id }}" style="padding-left: 17px;"></div>
        <span class="card-text pull-right pr-2">{{ review.updated }}</span>
        <div class="card-body">{{ review.content }}</div>
      </div>
    </div>
    {% include 'products/_edit_review.html' %}
    {% endfor %}
  </div>
  
  <div class="review-fieldset">    
    <h3>후기를 남겨 주세요</h3>
    <form action="{% url 'products:review' product.id %}" method="POST">
      {% csrf_token %}
      <div class="review_form_field">
        <div class="input__box">
          <span>제목</span>
          <input id="{{ review_form.title.id_for_label }}" type="{{ review_form.title.field.widget.input_type }}" name="{{ review_form.title.name }}">
        </div>
        <div class="input__box">
          <span>만족도</span>
          <div id="input_starrr" class="starrr"></div>
          <input type="hidden" id="{{ review_form.rating.id_for_label }}" value="3" name="{{ review_form.rating.name }}">
        </div>
        <div class="input__box">
          <span>내용</span>
          <textarea name="{{ review_form.content.name }}"></textarea>
        </div>
        <div class="review-form-actions" data-id="{{ product.id }}">
          <button>리뷰 남기기</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End Single Tab Content -->