<!-- Start Single Tab Content -->
<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
  <div class="review__attribute">
    <h1>Customer Reviews</h1>
    <h2>Hastech</h2>
    <div class="review__ratings__type d-flex">
      <div class="review-ratings">
        <div class="rating-summary d-flex">
          <span>Quality</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>

        <div class="rating-summary d-flex">
          <span>Price</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
        <div class="rating-summary d-flex">
          <span>value</span>
          <ul class="rating d-flex">
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
      </div>
      <div class="review-content">
        <p>Hastech</p>
        <p>Review by Hastech</p>
        <p>Posted on 11/6/2018</p>
      </div>
    </div>
  </div>
  <div class="review-fieldset">
    <h2>You're reviewing:</h2>
    <h3>Chaz Kangeroo Hoodie</h3>
    <div class="review-field-ratings">
      <div class="product-review-table">
        <div class="review-field-rating d-flex">
          <span>Quality</span>
          <ul class="rating d-flex">
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
        <div class="review-field-rating d-flex">
          <span>Price</span>
          <ul class="rating d-flex">
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
        <div class="review-field-rating d-flex">
          <span>Value</span>
          <ul class="rating d-flex">
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
            <li class="off"><i class="zmdi zmdi-star"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="review_form_field">
      <div class="input__box">
        <span>Nickname</span>
        <input id="nickname_field" type="text" name="nickname">
      </div>
      <div class="input__box">
        <span>Summary</span>
        <input id="summery_field" type="text" name="summery">
      </div>
      <div class="input__box">
        <span>Review</span>
        <textarea name="review"></textarea>
      </div>
      <div class="review-form-actions">
        <button>Submit Review</button>
      </div>
    </div>
  </div>
</div>
<!-- End Single Tab Content -->