{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area bg-image--6">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="bradcaump__inner text-center">
						<h2 class="bradcaump-title">Shop Grid</h2>
						<nav class="bradcaump-content">
							<a class="breadcrumb_item" href="index.html">Home</a>
							<span class="brd-separetor">/</span>
							<span class="breadcrumb_item active">Shop Grid</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Bradcaump area -->

	<!-- Start Shop Page -->
	<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
		<div class="container">
			<div class="row">

				<!-- Left nav -->
				<div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
					<div class="shop__sidebar">
						{% include 'products/_category.html' %}
					</div>
				</div>
				<!-- //Left nav -->

				<div class="col-lg-9 col-12 order-1 order-lg-2">
					<div class="row mb-2">
						<div class="col-lg-12">
							<form class="form-inline pull-right" action="" method="GET">
								<div class="input-group">
									<input type="hidden" name="category" value="{{ category_id }}">
									<input type="text" class="form-control" placeholder="결과 내 검색" size="30" name="qq" value="{{ qq }}">
									<div class="input-group-append">
										<button type="submit" class="btn btn-outline-secondary">
											<i class="fa fa-search fa-1x" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- Middle top -->
					<div class="row">
						<div class="col-lg-12">
							<div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
								<div class="shop__list nav justify-content-center" role="tablist">
									<a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i
											class="fa fa-th"></i></a>
									<!-- <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i
											class="fa fa-list"></i></a> -->
								</div>
								<p>
									<span class="current">
										Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
									</span>
								</p>
								<div class="orderby__wrapper">
									<span>Sort By</span>
									<select class="shot__byselect">
										<option>Default sorting</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!-- //Middle top -->

					<div class="tab__container">
						<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
							<div class="row">
								{% for product in product_list %}
								<!-- Start Single Product -->
								<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
									<div class="product__thumb">
										<a class="first__img" href="{{ product.get_absolute_url }}"><img
												src="{{ product.get_image.image.url }}" alt="product image"></a>
										<a class="second__img animation1" href="{{ product.get_absolute_url }}"><img
												src="{{ product.get_image.image.url }}" alt="product image"></a>
										<!-- <div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div> -->
									</div>
									<div class="product__content content--center">
										<h4><a href="single-product.html">{{ product.name }}</a></h4>
										<ul class="prize d-flex">
											<li>{{ product.price | intcomma }}원</li>
											<!-- <li class="old_prize">$35.00</li> -->
										</ul>
										<div class="action">
											<div class="actions_inner">
												<ul class="add_to_links">
													<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
													<!-- <li><i class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></i></li> -->
													<li><a class="compare" href="{% url 'products:toggle_like' product.id %}" value="{{ product.id }}">
														<i class="bi bi-heart-beat"></i></a></li>
													<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link"
															href="#productmodal-{{ product.id }}"><i class="bi bi-search"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- <div class="product__hover--content">
											<ul class="rating d-flex">
												<li class="on"><i class="fa fa-star-o"></i></li>
												<li class="on"><i class="fa fa-star-o"></i></li>
												<li class="on"><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div> -->
									</div>
								</div>
								<!-- End Single Product -->
								{% endfor %}
							</div>

							{% include 'products/_pagination.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Shop Page -->

	{% include 'products/_modal.html' %}	
</div>
<!-- //Main wrapper -->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'products/js/ajax.js' %}"></script>
<script>
	$('.compare').click(function (e) {
		e.preventDefault();
		let product_id = $(this).attr('value');
		let url = "{% url 'products:toggle_like' 0 %}".replace('0', product_id);
		$.ajax({
			type: "POST",
			url: url,
			data: {
				product_id: product_id
			},
			success: function (res) {
				let is_existed = res.is_existed;
				let is_login = res.is_login;

				// 로그인하지 않은 유저의 요청일 경우 js로 리다이렉트를 해줍니다
				if (!is_login) { window.location.href = "{% url 'login' %}" }

				if (is_existed) {
					$('.compare').css('background-color', '#e59285');
					$('.compare').css('background-position-x', '100%');
					$('.compare').css('background-position-y', 'center');
				} else {
					$('.compare').css('background', '');
					$('.compare').css('background-position-x', '');
					$('.compare').css('background-position-y', '');
				}
			},
			error: function (request, status, error) {
				console.log(error);
			},
		});
	})
</script>
{% endblock extra_js %}